importing the necesaary libararies and creating the dataframe from imported data

In [187]:
import pandas as pd
import numpy as np

In [188]:
automobile_df = pd.read_csv('Automobile_data.csv')

In [189]:
type(automobile_df)

pandas.core.frame.DataFrame

accessing basic information about the dataframe

In [190]:
automobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [191]:
automobile_df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
52,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6795
78,2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6669
95,1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
82,3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629
136,3,150,saab,gas,turbo,two,hatchback,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.0,160,5500,19,26,18150

In [192]:
automobile_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [193]:
type(automobile_df.columns)

pandas.core.indexes.base.Index

from the data we see the information is based on 3 properties:
1. car xtics (this is most of the columns except 2 columns)
2. insurance riskiness ( represented by symboling column) : how risky the car is compared to its price
3. normalised loss( represented by normalised loss colunmn) : relative average loss per insured vehicle per year

### Data cleaning

* the rows dont contain any null values
* there are columns with the wrong data types which will make analysis difficult so that data types will be converted accordingly before futher analysis

In [194]:
automobile_df['normalized-losses'].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

filling in the missing values

In [195]:
automobile_df['normalized-losses'] = automobile_df['normalized-losses'].replace('?',np.nan)

In [196]:
automobile_df['normalized-losses'] = automobile_df['normalized-losses'].astype('Int64')

In [197]:
automobile_df['normalized-losses'].sample(20)

204      95
56      150
196     103
24      148
186      94
29      145
178     197
188      94
19       98
170     134
61      129
192    <NA>
75     <NA>
16     <NA>
93      103
39       85
194     103
54      113
81      153
138      83
Name: normalized-losses, dtype: Int64

In [198]:
automobile_df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [199]:
automobile_df['bore'].unique()

array(['3.47', '2.68', '3.19', '3.13', '3.5', '3.31', '3.62', '2.91',
       '3.03', '2.97', '3.34', '3.6', '2.92', '3.15', '3.43', '3.63',
       '3.54', '3.08', '?', '3.39', '3.76', '3.58', '3.46', '3.8', '3.78',
       '3.17', '3.35', '3.59', '2.99', '3.33', '3.7', '3.61', '3.94',
       '3.74', '2.54', '3.05', '3.27', '3.24', '3.01'], dtype=object)

In [200]:
automobile_df['bore'] = automobile_df['bore'].replace('?',np.nan)
automobile_df['bore'] = automobile_df['bore'].astype('float64')

In [201]:
automobile_df.bore.sample(20)

142    3.62
131    3.46
89     3.15
22     2.97
138    3.62
127    3.74
52     3.03
187    3.01
139    3.62
38     3.15
21     2.97
60     3.39
76     2.97
193    3.19
155    3.05
75     3.78
15     3.62
71     3.46
130    3.46
39     3.15
Name: bore, dtype: float64

In [202]:
automobile_df.stroke.unique()

array(['2.68', '3.47', '3.4', '2.8', '3.19', '3.39', '3.03', '3.11',
       '3.23', '3.46', '3.9', '3.41', '3.07', '3.58', '4.17', '2.76',
       '3.15', '?', '3.16', '3.64', '3.1', '3.35', '3.12', '3.86', '3.29',
       '3.27', '3.52', '2.19', '3.21', '2.9', '2.07', '2.36', '2.64',
       '3.08', '3.5', '3.54', '2.87'], dtype=object)

In [203]:
automobile_df.stroke = automobile_df.stroke.replace("?",np.nan)
automobile_df.stroke = automobile_df.stroke.astype('float64')

In [204]:
automobile_df.stroke.sample(10)

199    3.15
51     3.15
27     3.39
182    3.40
77     3.23
56      NaN
76     3.23
202    2.87
24     3.23
126    2.90
Name: stroke, dtype: float64

In [205]:
automobile_df.horsepower.unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [206]:
automobile_df.horsepower = automobile_df.horsepower.replace('?',np.nan)
automobile_df.horsepower = automobile_df.horsepower.astype('Int64')

In [207]:
automobile_df.horsepower.sample(10)

17     182
103    152
110     95
87     116
113     95
26      68
117    142
133    110
84     145
166    112
Name: horsepower, dtype: Int64

In [208]:
automobile_df['peak-rpm'].unique()

array(['5000', '5500', '5800', '4250', '5400', '5100', '4800', '6000',
       '4750', '4650', '4200', '4350', '4500', '5200', '4150', '5600',
       '5900', '5750', '?', '5250', '4900', '4400', '6600', '5300'],
      dtype=object)

In [209]:
automobile_df['peak-rpm'] = automobile_df['peak-rpm'].replace('?',np.nan)
automobile_df['peak-rpm'] = automobile_df['peak-rpm'].astype('Int64')

In [210]:
automobile_df['peak-rpm'].sample(10)

88     5500
192    4500
73     4500
111    5000
167    4800
185    5250
19     5400
195    5400
174    4500
72     4750
Name: peak-rpm, dtype: Int64

In [211]:
automobile_df['price'].unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)

In [212]:
automobile_df['price'] = automobile_df['price'].replace('?',np.nan)
automobile_df['price'] = automobile_df['price'].astype('Int64')

In [213]:
automobile_df['price'].sample(20)

176    10898
140     7603
69     28176
83     14869
36      7295
49     36000
7      18920
62     10245
156     6938
0      13495
61     10595
139     7053
200    16845
43      6785
79      7689
121     6692
183     7975
4      17450
88      9279
48     35550
Name: price, dtype: Int64

In [214]:
automobile_df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

converting columns with numbers in word form to integers

In [215]:
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('?',np.nan)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('two',2)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('three',3)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('four',4)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('five',5)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('six',6)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('eight',8)
automobile_df['num-of-cylinders'] = automobile_df['num-of-cylinders'].replace('twelve',12)

In [216]:
automobile_df['num-of-cylinders'].sample(20)

189    4
44     4
87     4
41     4
48     6
170    4
184    4
103    6
0      4
88     4
2      6
195    4
204    4
24     4
160    4
46     4
25     4
23     4
183    4
123    4
Name: num-of-cylinders, dtype: int64

In [217]:
automobile_df['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [218]:
automobile_df['num-of-doors'] = automobile_df['num-of-doors'].replace('?',np.nan)
automobile_df['num-of-doors'] = automobile_df['num-of-doors'].replace('two',2)
automobile_df['num-of-doors'] = automobile_df['num-of-doors'].replace('four',4)
automobile_df['num-of-doors'] = automobile_df['num-of-doors'].astype('Int64')

In [219]:
automobile_df['num-of-doors'].sample(20)

83     2
131    2
184    4
78     2
53     4
13     4
22     2
15     4
54     4
57     2
92     4
123    4
132    2
99     4
62     4
117    4
31     2
50     2
126    2
10     2
Name: num-of-doors, dtype: Int64

In [220]:
automobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    Int64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    Int64
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    Int64
 22  peak-rpm           203 non-null    Int64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    Int64
dtypes: Int64(5), float64(7), int64(6), object(8)
memory usage: 42.8+ KB

In [221]:
automobile_df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [222]:
automobile_df['wheel-base'].unique()

array([ 88.6,  94.5,  99.8,  99.4, 105.8,  99.5, 101.2, 103.5, 110. ,
        88.4,  93.7, 103.3,  95.9,  86.6,  96.5,  94.3,  96. , 113. ,
       102. ,  93.1,  95.3,  98.8, 104.9, 106.7, 115.6,  96.6, 120.9,
       112. , 102.7,  93. ,  96.3,  95.1,  97.2, 100.4,  91.3,  99.2,
       107.9, 114.2, 108. ,  89.5,  98.4,  96.1,  99.1,  93.3,  97. ,
        96.9,  95.7, 102.4, 102.9, 104.5,  97.3, 104.3, 109.1])

In [223]:
automobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    Int64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    Int64
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    Int64
 22  peak-rpm           203 non-null    Int64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    Int64
dtypes: Int64(5), float64(7), int64(6), object(8)
memory usage: 42.8+ KB

In [224]:
automobile_df.describe()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164.0,203.0,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.0,203.0,205.000000,205.000000,201.0
mean,0.834146,122.0,3.123153,98.756585,174.049268,65.907805,53.724878,2555.565854,4.380488,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,0.994841,6.021776,12.337289,2.145204,2.443522,520.680204,1.080854,41.642693,0.273539,0.316717,3.972040,39.714369,479.33456,6.542142,6.886443,7947.066342
min,-2.000000,65.0,2.0,86.600000,141.100000,60.300000,47.800000,1488.000000,2.000000,61.000000,2.540000,2.070000,7.000000,48.0,4150.0,13.000000,16.000000,5118.0
25%,0.000000,94.0,2.0,94.500000,166.300000,64.100000,52.000000,2145.000000,4.000000,97.000000,3.150000,3.110000,8.600000,70.0,4800.0,19.000000,25.000000,7775.0
50%,1.000000,115.0,4.0,97.000000,173.200000,65.500000,54.100000,2414.000000,4.000000,120.000000,3.310000,3.290000,9.000000,95.0,5200.0,24.000000,30.000000,10295.0
75%,2.000000,150.0,4.0,102.400000,183.100000,66.900000,55.500000,2935.000000,4.000000,141.000000,3.590000,3.410000,9.400000,116.0,5500.0,30.000000,34.000000,16500.0
max,3.000000,256.0,4.0,120.900000,208.100000,72.300000,59.800000,4066.000000,12.000000,326.000000,3.940000,4.170000,23.000000,288.0,6600.0,49.000000,54.000000,45400.0

In [225]:
type(automobile_df['symboling'])

pandas.core.series.Series

In [226]:
automobile_df.sample(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
54,1,113,mazda,gas,std,4,sedan,fwd,front,93.1,...,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395
95,1,128,nissan,gas,std,2,hatchback,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
158,0,91,toyota,diesel,std,4,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
84,3,<NA>,mitsubishi,gas,turbo,2,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
176,-1,65,toyota,gas,std,4,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
80,3,153,mitsubishi,gas,turbo,2,hatchback,fwd,front,96.3,...,110,spdi,3.17,3.46,7.5,116,5500,23,30,9959
167,2,134,toyota,gas,std,2,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449
104,3,194,nissan,gas,std,2,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,9.0,160,5200,19,25,17199
8,1,158,audi,gas,turbo,4,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
105,3,194,nissan,gas,turbo,2,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,7.8,200,5200,17,23,19699

### Handling missing values

finding out the null values in each numerical aand categorical column

In [227]:
for val in automobile_df.columns:
    num_of_null = automobile_df[val].isnull().sum()
    if num_of_null > 0:
        print(f'number of numerical null values in the {val} column is {num_of_null}')
    
    categorical_null = automobile_df[automobile_df[val] == '?'][val].count()
    if categorical_null > 0:
        print(f'number of categorical null values in the {val} column is {categorical_null}')

number of numerical null values in the normalized-losses column is 41
number of numerical null values in the num-of-doors column is 2
number of numerical null values in the bore column is 4
number of numerical null values in the stroke column is 4
number of numerical null values in the horsepower column is 2
number of numerical null values in the peak-rpm column is 2
number of numerical null values in the price column is 4

filling in for the missing values

In [228]:
# finding out whic rows actually have missing values
automobile_df[automobile_df['num-of-doors'].isnull()][['price','num-of-doors']]

    price  num-of-doors
27   8558          <NA>
63  10795          <NA>

dropping the 2 rows with missing num-of-doors since its binary

In [229]:
automobile_df.drop(
    automobile_df[ automobile_df['num-of-doors'].isnull() ].index,
    inplace=True
    )

In [230]:
# finding out whic rows actually have missing values
automobile_df[automobile_df['num-of-doors'].isnull()][['price','num-of-doors']]

Empty DataFrame
Columns: [price, num-of-doors]
Index: []

the rest of the handling of the missing values will be carried out after data visualisation and undersatnding the different data distributions

### Understanding the basic data in each column

In [231]:
automobile_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

finding out the different make types of cars

In [232]:
automobile_df.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

finding out the different fuel types

In [233]:
automobile_df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

finding out the different aspirations

In [234]:
automobile_df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

finding out the differnt number of doors

In [235]:
automobile_df['num-of-doors'].unique()

<IntegerArray>
[2, 4]
Length: 2, dtype: Int64

finding out the differnt body styles

In [236]:
automobile_df['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

Viewimg and getting to understand the different values of the columns

In [237]:
for val in automobile_df.columns:
    print(f'finding the different kinds of {val}')
    print(automobile_df[val].unique())
    print(' ')
    print(' ')

finding the different kinds of symboling
[ 3  1  2  0 -1 -2]


finding the different kinds of normalized-losses
<IntegerArray>
[<NA>,  164,  158,  192,  188,  121,   98,   81,  118,  148,  110,  145,  137,
  101,   78,  106,   85,  107,  104,  113,  150,  129,  115,   93,  142,  161,
  153,  125,  128,  122,  103,  168,  108,  194,  231,  119,  154,   74,  186,
   83,  102,   89,   87,   77,   91,  134,   65,  197,   90,   94,  256,   95]
Length: 52, dtype: Int64


finding the different kinds of make
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']


finding the different kinds of fuel-type
['gas' 'diesel']


finding the different kinds of aspiration
['std' 'turbo']


finding the different kinds of num-of-doors
<IntegerArray>
[2, 4]
Length: 2, dtype: Int64


finding the different kinds of body-style
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']


finding the different kinds of drive-wheels
['rwd' 'fwd' '4wd']


finding the different kinds of engine-location
['front' 'rear']


finding the different kinds of wheel-base
[ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7
 115.6  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2
 107.9 114.2 108.   89.5  98.4  96.1  99.1  93.3  97.   96.9  95.7 102.4
 102.9 104.5  97.3 104.3 109.1]


finding the different kinds of length
[168.8 171.2 176.6 177.3 192.7 178.2 176.8 189.  193.8 197.  141.1 155.9
 158.8 157.3 174.6 173.2 144.6 150.  163.4 157.1 167.5 175.4 169.1 170.7
 172.6 199.6 191.7 159.1 166.8 169.  177.8 175.  190.9 187.5 202.6 180.3
 208.1 199.2 178.4 173.  172.4 165.3 170.2 165.6 162.4 173.4 181.7 184.6
 178.5 186.7 198.9 167.3 168.9 175.7 181.5 186.6 156.9 157.9 172.  173.5
 173.6 158.7 169.7 166.3 168.7 176.2 175.6 183.5 187.8 171.7 159.3 165.7
 180.2 183.1 188.8]


finding the different kinds of width
[64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]


finding the different kinds of height
[48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]


finding the different kinds of curb-weight
[2548 2823 2337 2824 2507 2844 2954 3086 3053 2395 2710 2765 3055 3230
 3380 3505 1488 1874 1909 1876 2128 1967 1989 2535 2811 1713 1819 1837
 1940 1956 2010 2024 2236 2289 2304 2372 2465 2293 2734 4066 3950 1890
 1900 1905 1945 1950 2380 2385 2500 2410 2425 2670 2700 3515 3750 3495
 3770 3740 3685 3900 3715 2910 1918 1944 2004 2145 2370 2328 2833 2921
 2926 2365 2405 2403 1889 2017 1938 1951 2028 1971 2037 2008 2324 2302
 3095 3296 3060 3071 3139 3020 3197 3430 3075 3252 3285 3485 3130 2191
 2818 2778 2756 2800 3366 2579 2460 2658 2695 2707 2758 2808 2847 2050
 2120 2240 2190 2340 2510 2290 2455 2420 2650 1985 2040 2015 2280 3110
 2081 2109 2275 2094 2122 2140 2169 2204 2265 2300 2540 2536 2551 2679
 2714 2975 2326 2480 2414 2458 2976 3016 3131 3151 2261 2209 2264 2212
 2319 2254 2221 2661 2563 2912 3034 2935 3042 3045 3157 2952 3049 3012
 3217 3062]


finding the different kinds of engine-type
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']


finding the different kinds of num-of-cylinders
[ 4  6  5  3 12  2  8]


finding the different kinds of engine-size
[130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]


finding the different kinds of fuel-system
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']


finding the different kinds of bore
[3.47 2.68 3.19 3.13 3.5  3.31 3.62 2.91 3.03 2.97 3.34 3.6  2.92 3.15
 3.43 3.63 3.54 3.08  nan 3.39 3.76 3.58 3.46 3.8  3.78 3.17 3.35 3.59
 2.99 3.33 3.7  3.61 3.94 3.74 2.54 3.05 3.27 3.24 3.01]


finding the different kinds of stroke
[2.68 3.47 3.4  2.8  3.19 3.39 3.03 3.11 3.23 3.46 3.9  3.41 3.07 3.58
 4.17 2.76 3.15  nan 3.16 3.64 3.1  3.35 3.12 3.86 3.29 3.27 3.52 2.19
 3.21 2.9  2.07 2.36 2.64 3.08 3.5  3.54 2.87]


finding the different kinds of compression-ratio
[ 9.   10.    8.    8.5   8.3   7.    8.8   9.5   9.6   9.41  9.4   7.6
  9.2  10.1   9.1   8.1  11.5   8.6  22.   21.5   7.5  21.9   7.8   8.4
 21.    8.7   9.31  9.3   7.7  22.5  23.  ]


finding the different kinds of horsepower
<IntegerArray>
[ 111,  154,  102,  115,  110,  140,  160,  101,  121,  182,   48,   70,   68,
   88,  145,   58,   76,   60,   86,  100,   78,   90,  176,  262,  135,   84,
  120,   72,  123,  155,  184,  175,  116,   69,   55,   97,  152,  200,   95,
  142,  143,  207,  288, <NA>,   73,   82,   94,   62,   56,  112,   92,  161,
  156,   52,   85,  114,  162,  134,  106]
Length: 59, dtype: Int64


finding the different kinds of peak-rpm
<IntegerArray>
[5000, 5500, 5800, 4250, 5400, 5100, 4800, 6000, 4750, 4200, 4350, 4500, 5200,
 4150, 5600, 5900, 5750, <NA>, 5250, 4900, 4400, 6600, 5300]
Length: 23, dtype: Int64


finding the different kinds of city-mpg
[21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 22 14 45 28 32
 35 34 29 33]


finding the different kinds of highway-mpg
[27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]


finding the different kinds of price
<IntegerArray>
[13495, 16500, 13950, 17450, 15250, 17710, 18920, 23875,  <NA>, 16430,
 ...
 13415, 15985, 16515, 18420, 18950, 16845, 19045, 21485, 22470, 22625]
Length: 185, dtype: Int64

### inferences from the values obtained

from the above, we can see the different value of certain fields:
1. **symboling** is from -2 to +3

2. **car brands** are the following : alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen and volvo

3. there are two **types of fuel**: gas and diesel

4. the **aspirations of the engine** which reperent how powerful combustion is are of two kinds: standard and turbo

5. the **number of doors** are either 2 doors or 4 doors

6. the **car body styles** are : convertible, hatchback, sedan, wagon, hardtop

7. the **kinds of wheel control** by the cars are : rear-wheel drive, front-wheel drive and 4-wheel drive

8. **engine location** is either front or back

9. **engine types** which is also an indicator of engine efficiency is for the following types: dohc, ohcv, ohc, l, rotor, ohcf, dohcv

10. the **number of engine cylinders** which is a representation of how powerful the engine is has the following values: 2, 3, 4, 5, 6, 8 and 12

11. the **fuel systems** are : mpfi, 2bbl, mfi, 1bbl, spfi, 4bbl, idi, spdi


#### extra explantions of the columns with numerical values
* **bore** is the diameter of thecylinder inside the engine
* **stoke** is the distance the piston moves up and down
* **compression** ratio how much the air and fuel is squeezed in an engine, higher ratios show more fuel efficiency
* **horse power** is a representation of how powerful the engine is
* **peak rpm** shows how fast the engine must must spin to produce maximum power
* **city mpg** shows how many miles a car can travel on one gallon of fuel in typical city driving conditions
* **highway mpg** shows how many miles a car can travel on one gallon of fuel in typical highway driving conditions

NB: for mpg, higher value is better and shows better fuel efficiency

In [238]:
automobile_df.describe()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,203.000000,163.0,203.0,203.000000,203.00000,203.000000,203.000000,203.000000,203.000000,203.000000,199.000000,199.000000,203.000000,201.0,201.0,203.000000,203.000000,199.0
mean,0.837438,121.840491,3.123153,98.781281,174.11330,65.915271,53.731527,2557.916256,4.384236,127.073892,3.330955,3.254070,10.093202,104.467662,5125.870647,25.172414,30.699507,13242.613065
std,1.250021,35.492292,0.994841,6.040994,12.33909,2.150274,2.442526,522.557049,1.085525,41.797123,0.274054,0.318023,3.888216,39.809926,479.820136,6.529812,6.874645,7978.344857
min,-2.000000,65.0,2.0,86.600000,141.10000,60.300000,47.800000,1488.000000,2.000000,61.000000,2.540000,2.070000,7.000000,48.0,4150.0,13.000000,16.000000,5118.0
25%,0.000000,94.0,2.0,94.500000,166.55000,64.100000,52.000000,2145.000000,4.000000,97.000000,3.150000,3.110000,8.600000,70.0,4800.0,19.000000,25.000000,7775.0
50%,1.000000,115.0,4.0,97.000000,173.20000,65.500000,54.100000,2414.000000,4.000000,120.000000,3.310000,3.290000,9.000000,95.0,5200.0,24.000000,30.000000,10295.0
75%,2.000000,150.0,4.0,102.400000,183.30000,66.900000,55.500000,2943.500000,4.000000,143.000000,3.590000,3.410000,9.400000,116.0,5500.0,30.000000,34.000000,16501.5
max,3.000000,256.0,4.0,120.900000,208.10000,72.300000,59.800000,4066.000000,12.000000,326.000000,3.940000,4.170000,23.000000,288.0,6600.0,49.000000,54.000000,45400.0

In [239]:
automobile_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [240]:
# making a dataframe for just the car xtics
automobile_xtics_df = automobile_df[['make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg']].copy()

In [241]:
automobile_xtics_df.loc[23:32]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
23,dodge,gas,turbo,2,hatchback,fwd,front,93.7,157.3,63.8,...,4,98,mpfi,3.03,3.39,7.6,102,5500,24,30
24,dodge,gas,std,4,hatchback,fwd,front,93.7,157.3,63.8,...,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38
25,dodge,gas,std,4,sedan,fwd,front,93.7,157.3,63.8,...,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38
26,dodge,gas,std,4,sedan,fwd,front,93.7,157.3,63.8,...,4,90,2bbl,2.97,3.23,9.4,68,5500,31,38
28,dodge,gas,std,4,wagon,fwd,front,103.3,174.6,64.6,...,4,122,2bbl,3.34,3.46,8.5,88,5000,24,30
29,dodge,gas,turbo,2,hatchback,fwd,front,95.9,173.2,66.3,...,4,156,mfi,3.60,3.90,7.0,145,5000,19,24
30,honda,gas,std,2,hatchback,fwd,front,86.6,144.6,63.9,...,4,92,1bbl,2.91,3.41,9.6,58,4800,49,54
31,honda,gas,std,2,hatchback,fwd,front,86.6,144.6,63.9,...,4,92,1bbl,2.91,3.41,9.2,76,6000,31,38
32,honda,gas,std,2,hatchback,fwd,front,93.7,150.0,64.0,...,4,79,1bbl,2.91,3.07,10.1,60,5500,38,42

finding out the number of cars of each brand(make)

In [242]:
cars_list = []
for val in automobile_xtics_df['make'].unique():
    brand_total = automobile_xtics_df[automobile_xtics_df['make'] == val].make.count()
    cars_list.append([val,brand_total])

cars_df= pd.DataFrame(cars_list, columns=['name','number'])

finding out the most owned brands and least owned brands

In [243]:
cars_df.sort_values('number', ascending=False)

             name  number
19         toyota      32
12         nissan      18
8           mazda      16
11     mitsubishi      13
5           honda      13
20     volkswagen      12
18         subaru      12
13         peugot      11
21          volvo      11
9   mercedes-benz       8
4           dodge       8
2             bmw       8
1            audi       7
14       plymouth       7
17           saab       6
15        porsche       5
6           isuzu       4
7          jaguar       3
3       chevrolet       3
0     alfa-romero       3
16        renault       2
10        mercury       1

we can find out the top 5 most owned cars brands are :
1. toyota
2. nissan
3. mazda
4. mitsubishi
5. honda

And the 5 least owned brands are:
1. jaguar
2. chevrolet
3. alfa-romero
4. renault
5. mercury

finding out the usage of the different fuel types

In [244]:
diesel_count = automobile_df[automobile_df['fuel-type'] == 'diesel'].make.count()
print(f'diesel cars = {diesel_count}')

gas_count = automobile_df[automobile_df['fuel-type'] == 'gas'].make.count()
print(f'gas cars = {gas_count}')

diesel cars = 19
gas cars = 184

we can infer that gas cars are way more than diesel cars

Finding out the preference of the two kinds of engine aspiration: std and turbo

In [245]:
std_count = automobile_df[automobile_df['aspiration'] == 'std'].make.count()
print(f'Standard engine cars = {std_count}')

turbo_count = automobile_df[automobile_df['aspiration'] == 'turbo'].make.count()
print(f'Turbo engine cars = {turbo_count}')

Standard engine cars = 167
Turbo engine cars = 36

from the results we can infer that standard car engines are more owned than turbo engines yet turbo engines are more powerful. this could be due to prices as we may investigate later.

### finding out the most prefered number of doors

In [246]:
two_door_count = automobile_df[automobile_df['num-of-doors'] == 2].make.count()
print(f'Two-door cars = {two_door_count}')

four_door_count = automobile_df[automobile_df['num-of-doors'] == 4].make.count()
print(f'Four-door cars = {four_door_count}')

Two-door cars = 89
Four-door cars = 114

we can establish that more 4-door cars are owned than 2-door cars

finding out the most prefered car body types and the least prefered car body styles

In [247]:
body_style_list = []
for val in automobile_xtics_df['body-style'].unique():
    body_style_total = automobile_xtics_df[automobile_xtics_df['body-style'] == val].make.count()
    body_style_list.append([val,body_style_total])

body_style_df= pd.DataFrame(body_style_list, columns=['type','number'])
body_style_df.sort_values('number', ascending=False)

          type  number
2        sedan      94
1    hatchback      70
3        wagon      25
4      hardtop       8
0  convertible       6

we can see the most owned car body style is a sedan, followed by hatchback, then wagon and hard top and the least owned is a convertible.

#### To find out how much risk is being taken in the portfoliio, we investigate the symboling and how its distributed

In [248]:
symboling_list = []

for val in automobile_df['symboling'].unique():
    symboling_total = automobile_df[automobile_df['symboling'] == val].make.count()
    symboling_list.append([val,symboling_total])

symboling_df= pd.DataFrame(symboling_list, columns=['symboling','number'])
symboling_df.sort_values('number', ascending=False)

   symboling  number
3          0      66
1          1      53
2          2      32
0          3      27
4         -1      22
5         -2       3

we can see that:
* most of the vehicles are fairly safe range ( 0 )
* few of the cars are considered pretty safe ( -1, -2 )
* a good number of cars are in the unsafe range ( 1, 2, 3 )

### finding the most common engine locations

In [249]:
front_count = automobile_df[automobile_df['engine-location'] == 'front'].make.count()
print(f'Front engine cars = {front_count}')

rear_count = automobile_df[automobile_df['engine-location'] == 'rear'].make.count()
print(f'Rear engine cars = {rear_count}')

Front engine cars = 200
Rear engine cars = 3

almost all the cars have front engines with just 3 cars having a rear engine.

### finding the cars having the different drive technologies
 these represent the power transmitted to the wheels

In [250]:
fwd_count = automobile_df[automobile_df['drive-wheels'] == 'fwd'].make.count()
print(f'Front-wheel drive cars = {fwd_count}')

rwd_count = automobile_df[automobile_df['drive-wheels'] == 'rwd'].make.count()
print(f'Rear-wheel drive cars = {rwd_count}')

four_wd_count = automobile_df[automobile_df['drive-wheels'] == '4wd'].make.count()
print(f'Four-wheel drive cars = {four_wd_count}')

Front-wheel drive cars = 118
Rear-wheel drive cars = 76
Four-wheel drive cars = 9

we can see that most of the cars are front wheel drive cars, followed by rear wheel drive cars and a very few are four wheel drive cars. we will further find out if the issue could be price related with data visulisations later on.

### finding out about the distribution of number of cylinders in car engines

In [251]:
cylinder_list = []
for val in automobile_df['num-of-cylinders'].unique():
    cylinder_total = automobile_xtics_df[automobile_xtics_df['num-of-cylinders'] == val].make.count()
    cylinder = str(val) + '-cylinder'
    cylinder_list.append([cylinder,cylinder_total])

cylinder_df= pd.DataFrame(cylinder_list, columns=['cylinders','number'])
cylinder_df.sort_values('number', ascending=False)

     cylinders  number
0   4-cylinder     157
1   6-cylinder      24
2   5-cylinder      11
6   8-cylinder       5
5   2-cylinder       4
3   3-cylinder       1
4  12-cylinder       1

we can conclude that 4-cylinder engines are by far the most common , followed by 6-cylinder and the least used are 2,3 and 12-cylinder engines

#### creating a random column of car volume: 

this will later be removed after obtaining the car density

In [252]:
volume_serie = automobile_df['height'] * automobile_df['width'] * automobile_df['length']
volume_serie.head(10)

0    528019.904
1    528019.904
2    587592.640
3    634816.956
4    636734.832
5    624189.969
6    766364.046
7    766364.046
8    769115.802
9    629188.560
dtype: float64

In [253]:
automobile_df['volume']= volume_serie

In [254]:
automobile_df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,volume
40,0,85,honda,gas,std,4,sedan,fwd,front,96.5,...,1bbl,3.15,3.58,9.0,86,5800,27,33,10295,593071.250
5,2,<NA>,audi,gas,std,2,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,8.5,110,5500,19,25,15250,624189.969
103,0,108,nissan,gas,std,4,sedan,fwd,front,100.4,...,mpfi,3.43,3.27,9.0,152,5200,19,25,13499,676402.090
195,-1,74,volvo,gas,std,4,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,23,28,13415,729523.200
30,2,137,honda,gas,std,2,hatchback,fwd,front,86.6,...,1bbl,2.91,3.41,9.6,58,4800,49,54,6479,469388.952

obtaining the car density and droping the volume column

In [255]:
density_serie = automobile_df['volume']/ automobile_df['curb-weight']
automobile_df['car_density'] = density_serie
automobile_df.drop(columns=['volume'], inplace=True)
automobile_df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,car_density
199,-1,74,volvo,gas,turbo,4,wagon,rwd,front,104.3,...,mpfi,3.62,3.15,7.5,162,5100,17,22,18950,231.081153
61,1,129,mazda,gas,std,2,hatchback,fwd,front,98.8,...,2bbl,3.39,3.39,8.6,84,4800,26,32,10595,266.219157
144,0,102,subaru,gas,std,4,sedan,4wd,front,97.0,...,2bbl,3.62,2.64,9.0,82,4800,24,25,9233,256.104755
68,-1,93,mercedes-benz,diesel,turbo,4,wagon,rwd,front,110.0,...,idi,3.58,3.64,21.5,123,4350,22,25,28248,210.071960
122,1,154,plymouth,gas,std,4,sedan,fwd,front,93.7,...,2bbl,2.97,3.23,9.4,68,5500,31,38,7609,247.478773

In [256]:
automobile_df.max()

symboling                     3
normalized-losses           256
make                      volvo
fuel-type                   gas
aspiration                turbo
num-of-doors                  4
body-style                wagon
drive-wheels                rwd
engine-location            rear
wheel-base                120.9
length                    208.1
width                      72.3
height                     59.8
curb-weight                4066
engine-type               rotor
num-of-cylinders             12
engine-size                 326
fuel-system                spfi
bore                       3.94
stroke                     4.17
compression-ratio          23.0
horsepower                  288
peak-rpm                   6600
city-mpg                     49
highway-mpg                  54
price                     45400
car_density          304.269259
dtype: object

In [257]:
automobile_df.min()

symboling                     -2
normalized-losses             65
make                 alfa-romero
fuel-type                 diesel
aspiration                   std
num-of-doors                   2
body-style           convertible
drive-wheels                 4wd
engine-location            front
wheel-base                  86.6
length                     141.1
width                       60.3
height                      47.8
curb-weight                 1488
engine-type                 dohc
num-of-cylinders               2
engine-size                   61
fuel-system                 1bbl
bore                        2.54
stroke                      2.07
compression-ratio            7.0
horsepower                    48
peak-rpm                    4150
city-mpg                      13
highway-mpg                   16
price                       5118
car_density           163.778774
dtype: object

renaming the make column to brand

In [258]:
automobile_df['brand'] = automobile_df['make']
automobile_df.drop(columns=['make'],inplace=True)

In [259]:
automobile_df.columns

Index(['symboling', 'normalized-losses', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'car_density', 'brand'],
      dtype='object')

finding out the average normalised loss , price and symboling for each car brand and for each body style

In [260]:
brands_df = automobile_df.groupby('brand')[['price','normalized-losses','symboling']].mean().copy()

In [261]:
brands_df.sort_values('price',ascending=False)

                      price  normalized-losses  symboling
brand
jaguar              34600.0              145.0   0.000000
mercedes-benz       33647.0              102.8   0.000000
porsche             31400.5              186.0   2.600000
bmw                26118.75              190.0   0.375000
volvo          18063.181818          91.454545  -1.272727
audi           17859.166667              161.0   1.285714
mercury             16503.0               <NA>   1.000000
alfa-romero    15498.333333               <NA>   2.333333
peugot         15489.090909              161.0   0.000000
saab           15223.333333              127.0   2.500000
mazda               10644.0         123.933333   1.187500
nissan         10415.666667         135.166667   1.000000
volkswagen          10077.5             121.25   1.666667
toyota            9885.8125         110.290323   0.562500
renault              9595.0               <NA>   1.000000
mitsubishi      9239.769231              146.2   1.846154
isuzu                8916.5               <NA>   0.750000
subaru              8541.25              92.25   0.500000
honda           8184.692308              103.0   0.615385
plymouth        7963.428571              129.0   1.000000
dodge              7790.125            131.625   1.000000
chevrolet            6007.0              100.0   1.000000

### from the data we can identify that:
 
The top 5 most expensive car brands on average are:
1. jaguar	
2. mercedes-benz	
3. porsche	
4. bmw
5. volvo

The 5 least expensive car brands on average are:
1. subaru	
2. honda	
3. plymouth	
4. dodge	
5. chevrolet

In [262]:
brands_df.sort_values('normalized-losses',ascending=False)

                      price  normalized-losses  symboling
brand
bmw                26118.75              190.0   0.375000
porsche             31400.5              186.0   2.600000
audi           17859.166667              161.0   1.285714
peugot         15489.090909              161.0   0.000000
mitsubishi      9239.769231              146.2   1.846154
jaguar              34600.0              145.0   0.000000
nissan         10415.666667         135.166667   1.000000
dodge              7790.125            131.625   1.000000
plymouth        7963.428571              129.0   1.000000
saab           15223.333333              127.0   2.500000
mazda               10644.0         123.933333   1.187500
volkswagen          10077.5             121.25   1.666667
toyota            9885.8125         110.290323   0.562500
honda           8184.692308              103.0   0.615385
mercedes-benz       33647.0              102.8   0.000000
chevrolet            6007.0              100.0   1.000000
subaru              8541.25              92.25   0.500000
volvo          18063.181818          91.454545  -1.272727
alfa-romero    15498.333333               <NA>   2.333333
isuzu                8916.5               <NA>   0.750000
mercury             16503.0               <NA>   1.000000
renault              9595.0               <NA>   1.000000

In [263]:
automobile_df.brand.value_counts()

brand
toyota           32
nissan           18
mazda            16
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
mercedes-benz     8
dodge             8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

### from the data, we can tell that:

The top 5 car brands with the least normalised loss on average are:
* honda	
* mercedes-benz	
* chevrolet	
* subaru	
* volvo

The car brands with the highest normalised loss on average are:
* bmw
* porsche	
* audi	
* peugot	
* mitsubishi

In [264]:
brands_df.sort_values('symboling',ascending=False)

                      price  normalized-losses  symboling
brand
porsche             31400.5              186.0   2.600000
saab           15223.333333              127.0   2.500000
alfa-romero    15498.333333               <NA>   2.333333
mitsubishi      9239.769231              146.2   1.846154
volkswagen          10077.5             121.25   1.666667
audi           17859.166667              161.0   1.285714
mazda               10644.0         123.933333   1.187500
dodge              7790.125            131.625   1.000000
mercury             16503.0               <NA>   1.000000
nissan         10415.666667         135.166667   1.000000
plymouth        7963.428571              129.0   1.000000
chevrolet            6007.0              100.0   1.000000
renault              9595.0               <NA>   1.000000
isuzu                8916.5               <NA>   0.750000
honda           8184.692308              103.0   0.615385
toyota            9885.8125         110.290323   0.562500
subaru              8541.25              92.25   0.500000
bmw                26118.75              190.0   0.375000
peugot         15489.090909              161.0   0.000000
mercedes-benz       33647.0              102.8   0.000000
jaguar              34600.0              145.0   0.000000
volvo          18063.181818          91.454545  -1.272727

### Based on the symboling average, we can tell that:

The top 5 riskiest brands on average to own are:
* porsche	
* saab	
* alfa-romero	
* mitsubishi
* volkswagen

The top 5 relatively safe brands to own on average are:
* bmw	
* peugot
* mercedes-benz	
* jaguar	
* volvo

#### Determining the most expensive car body types in terms of normalised loss

In [265]:
body_style_df = automobile_df.groupby('body-style')[['normalized-losses','symboling']].mean().copy()
body_style_df.sort_values('normalized-losses', ascending=False)

             normalized-losses  symboling
body-style
convertible              138.0   2.833333
hardtop                  132.6   1.875000
hatchback           132.083333   1.585714
sedan                120.35443   0.329787
wagon                87.529412  -0.160000

### from the body type and normalised loss data
 
we can tell that:
Wagon cars will bring the least normalised loss on average and the most lossy are hardtops, convertibles and hatchbacks on average

### getting a csv file that specifcally includes data based on the average of each car brand

In [266]:
automobile_df.columns

Index(['symboling', 'normalized-losses', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'car_density', 'brand'],
      dtype='object')

In [267]:
full_brands_df = automobile_df.groupby('brand')[['symboling', 'normalized-losses','num-of-doors', 
       'wheel-base', 'length', 'width', 'height', 'curb-weight',
       'num-of-cylinders', 'engine-size', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'car_density']].mean()

In [268]:
full_brands_df.to_csv('full_brands.csv', index=None)